footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.links {
    display: flex;
    justify-content: space-between;
    min-width: 20%;
}

.footer-icon {
    width: 50px;
    height: 50px;
}

.search-page-footer {

    color: #fff;
    max-width: 80%;
    margin: 0 auto;
}

.footer-wrapper {
    background: rgb(39, 43, 51);

}