.aboutWrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.dark {
    color: white
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 70px;
}

.container.reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.aboutImage {
    height: auto;
    max-width: 40%;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.infoText {
    width: 50%;
    text-align: justify;
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    .aboutImage {
        float: right;
        max-width: 30%;
    }

    .infoText {
        width: 100%;
    }

    p {
        padding-top: 3%;
    }

    .aboutImage.reverse {
        float: left;
    }
    h2 {
        font-size: 2rem;
    }
    .aboutWrapper {
        padding-top: 20px;
    }

}