.search-item {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 12px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.search-item-overview {
  display: flex;
  align-items: center;
}
