footer {
    background: var(--footer-bg);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    max-width: 80%;
    margin: 0 auto;
}

.links {
    display: flex;
    justify-content: space-between;
    min-width: 20%;
}

.footer-title {
    color: var(--footer-text-color);
}

.footer-icon {
    width: 50px;
    height: 50px;
}

.search-page-footer {

    color: #fff;
    max-width: 80%;
    margin: 0 auto;
}

[page-type="search"] {
    --footer-bg: var(--results-bg-color);
    --footer-text-color: #ffffff;
}

[page-type="about"] {
    --footer-bg: var(--bg-color);
    --footer-text-color: var(--text-color);
}